<div class="container my-3">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">25%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 5</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                aria-valuemax="100">35%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card border-dark bg-light mb-3" style="max-width: 18rem;">
          <!-- <div class="card-header">Transporte 2</div> -->
          <div class="card-body">
            <h5 class="card-title">Transporte 6</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 52%" aria-valuenow="52" aria-valuemin="0"
                aria-valuemax="100">52%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>